<div class="container">
    <!--Portfolio Item Heading-->
    <div class="row col-lg-12">
        <h1 class="page-header"> Invoice Management <small>April. 20, 2015</small></h1>
    </div>

    <div class="row">
        <div class="row col-lg-8">
            <img class="img-responsive" src="images/invoiceimage.jpg" alt="Invoice">
        </div>
        <div class="row col-lg-1"></div>
        <div class="row col-lg-3">
            <h3>Invoice</h3>
            <p>- You can add multiple Records.</p>
            <p>- You can see the all customers.</p>
            <p>- You can add invoice customer wise.</p>
            <p>- You can add multiple invoices for single customer.</p>
            <p>- You can see multiple invoices for single customer.</p>
        </div>
    </div>
</div>