<div class="container">
    <!--Portfolio Item Heading-->
    <div class="row col-lg-12">
        <h1 class="page-header"> Invoice Management <small>April. 20, 2015</small></h1>
    </div>

    <div class="row">
        <div class="row col-lg-8">
            <img class="img-responsive" src="images/invoiceimage.jpg" alt="NewYork Big">
        </div>
        <div class="row col-lg-4">
            <h3>Invoice</h3>
            <p>This App describes about Customers and their invoices.This App describes about Customers and their invoices.
                This App describes about Customers and their invoices.This App describes about Customers and their invoices.
            </p>
        </div>
    </div>
</div>